html, body {
    height: 100%;
    color: #ffffff;
    font-family: sans-serif;
}

body {
    
    background-color: #000000;
    
    margin: 0;
    /*display: flex;*/
    
    justify-content: center;
    align-items: center;
    

}